<%= form_for [item, order] do |f| %>
  <% if order.errors.present? %>
    <div class="alert alert-danger"><%= order.errors.full_messages.to_sentence %></div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>
    </div>
    
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: 'form-control' %>
    </div>
  </div>
  <%= f.submit nil, class: 'btn btn-success' %>
<% end %>