<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1><span style="color: #FFFFFF">Your order detail information</span></h1>
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-2">
      <p>Customer:</p>
      <p>Address:</p>
      <p>Phone:</p>
      <p>Time order:</p>
    </div>
    <div class="col-sm-4">
      <p><%= @order.name %></p>
      <p><%= @order.address %></p>
      <p><%= @order.phone_number %></p>
      <p><%= @order.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @order.food_item.name %></td>
          <td><%= number_to_currency(@order.food_item.price, precision: 0, unit: "VND", delimiter: ",", format: "%n %u") %></td>
          <td><%= @order.quantity %></td>
          <td><%= number_to_currency(@order.food_item.price * @order.quantity, precision: 0, unit: "VND", delimiter: ",", format: "%n %u") %></td>
        </tr>
        <tr>
          <td>Delivery cost</td>
          <td></td>
          <td></td>
          <td><%= number_to_currency(20000.0, precision: 0, unit: "VND", delimiter: ",", format: "%n %u") %></td>
        </tr>
        <tr>
          <td>Total cost</td>
          <td></td>
          <td></td>
          <td><%= number_to_currency(@order.total_price, precision: 0, unit: "VND", delimiter: ",", format: "%n %u") %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
