<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<p id="notice"><%= notice %></p>
<h1><span style="color: #FFFFFF">Thank you for your order</span></h1>
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-2">
      <p>Customer</p>
      <p>Address</p>
      <p>Phone</p>
      <p>Time order</p>
      <table class="table">
        <tbody>
          <tr>
            <td>Delivery cost</td>
          </tr>
          <tr>
            <td>Total cost</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <p><%= @order.name %></p>
      <p><%= @order.address %></p>
      <p><%= @order.phone_number %></p>
      <p><%= @order.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
      <table class="table">
        <tbody>
          <tr>
            <td><%= number_to_currency(20000.0, precision: 0, unit: "VND", delimiter: ",", format: "%n %u") %></td>
          </tr>
          <tr>
            <td><%= number_to_currency(@order.total_price, precision: 0, unit: "VND", delimiter: ",", format: "%n %u") %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>
