<!DOCTYPE html>
<html>
  <head>
    <title>Il Gustoso</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissable fade show"><span><%= value %>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
